@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  /* BASE COMPONENTS */
  .btn__base {
    /* Base */
    @apply w-full max-w-5xl px-3 py-6;
    @apply font-bold text-center text-white shadow-sm cursor-pointer;
    @apply border border-transparent;
    @apply bg-gradient-to-r from-light-blue-400 to-teal-500;
    @apply hover:from-light-blue-500 hover:to-teal-600;
    /* SM */
    @apply sm:py-4;
    /* Dark */
    @apply dark:border-gray-300;
    @apply dark:hover:border-white;
    @apply dark:from-light-blue-500 dark:to-teal-600;
    @apply dark:hover:from-light-blue-600 dark:hover:to-teal-700;
  }
}

/* ----------- */
/* TRANSITIONS */
/* ----------- */

/* Fade */
.fade-enter-from,
.fade_down-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* Slide Right */
.slide_right-enter-from,
.slide_right-leave-to {
  opacity: 0;
  transform: translateX(80%);
}
.slide_right-enter-active,
.slide_right-leave-active {
  transition: all 0.4s ease;
}
.slide_right-enter-to,
.slide_right-leave-from {
  opacity: 1;
}

/* Slide Up */
.slide_up-enter-from,
.slide_up-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
.slide_up-enter-active,
.slide_up-leave-active {
  transition: all 0.4s ease;
}
.slide_up-enter-to,
.slide_up-leave-from {
  opacity: 1;
}

/* Slide Down */
.slide_down-enter-from,
.slide_down-leave-to {
  opacity: 0;
  transform: translateY(100%);
}
.slide_down-enter-active,
.slide_down-leave-active {
  transition: all 0.4s ease;
}
.slide_down-enter-to,
.slide_down-leave-from {
  opacity: 1;
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
/* Shake */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
